version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: nodejs
    container_name: api
    ports:
      - "3000:3000"
    depends_on:
      - postgres
  postgres:
    image: "postgres"
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: api_db
    volumes:
      - database:/var/lib/postgresql/data
volumes:
  database:
